section.hotel-info.container
  div.hotel-info__main-content
    div.hotel-info__introductory 
      div.hotel-info__rating Звездочка
      a.hotel-info__link-hotel www.name-hotelspa.resort.com  
      h1.hotel-info__name Hotel Name Resort & Spa 
      span.hotel-info__adress-subtitle Египет, Шарм Эль Шейх, Наама Бей
      a.hotel-info__adress На карте
    div.hotel-info__benefits.benefits
      div.benefits__wifi
        i(class="fas fa-wifi")
        span Бесплатный Wi-Fi
      div.benefits__parking Парковка
      div.benefits__line 1-я линия
    div.hotel-info__gallery.gallery
      div.gallery__large-photo
        img(id="largeImg" src="./assets/img/layer-photo.png" alt="Large image")
      ul.gallery__thumbs#thumbs
        li
          a(href="https://js.cx/gallery/img2-lg.jpg")
            img(src="./assets/img/small-photo1.png")
          a(href="https://js.cx/gallery/img2-lg.jpg")
            img(src="./assets/img/small-photo2.png")
          a(href="https://js.cx/gallery/img2-lg.jpg")
            img(src="./assets/img/small-photo3.png")
          a(href="https://js.cx/gallery/img2-lg.jpg")
            img(src="./assets/img/small-photo4.png")
          a(href="https://js.cx/gallery/img2-lg.jpg")
            img(src="./assets/img/small-photo5.png")
          a(href="https://js.cx/gallery/img2-lg.jpg")
            img(src="./assets/img/small-photo6.png")
  div.hotel-info__additional-content
